* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: none; */
    text-transform: none;
    text-decoration: none;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    -webkit-text-decoration-style: initial;
    text-decoration-style: solid;
    -webkit-text-decoration-color: initial;
    text-decoration-color: initial;
    font-family: inherit;
    font-size: inherit;
}

body {
    font-family: NotoSans-Regular;
    font-size: 13px;
    overflow: hidden;
    font-family: NotoSans;
}




@font-face {
    font-family: Notosans;
    src: url("./assets/fonts/notosans-regular.woff2") format("opentype");
}

@font-face {
    font-family: Notosans;
    src: url("./assets/fonts/notosans-semibold.woff2") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: Notosans;
    src: url("./assets/fonts/notosans-bold.woff2") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: Notosans;
    src: url("./assets/fonts/notosans-italic.woff2") format("opentype");
    font-style: italic;
}

@import "./components/base/UI/Common.css";
@import "./components/base/UI/Input.css";
@import "./components/base/UI/Icon.css";
@import "./components/base/UI/ScrollBar.css";
@import "./components/base/UI/Tooltip.css";
