.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #f4f5f8;
    padding: 16px; 
    width: calc(100% - 10px);
    z-index: 29;
}

.content-header .title {
    font-size: 24px;
    font-weight: bold;
}

