.m-dropdown-input {
    padding-right: 0;
    display: flex;
    align-items: center;
}

/*nút đóng/mở*/
.m-dropdown-input .m-dropdown-open {
    font-size: 16px;
    height: 30px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 0 2px 2px 0;
}

.m-dropdown-input .m-dropdown-open em {
    margin-left: auto 0;
}

.m-dropdown-input .m-dropdown-open:hover {
    background-color: #e9ebee;
}

.m-dropdown-input input::placeholder {
    color: #bbbbbb;
    font-size: 11px;
    font-family: NotoSans;
}

.m-dropdown-input.dropdown input{
    cursor: pointer !important;
}

